body {
  background-color: black!important;
}

button svg.personalModalButton {
  font-size: 32px;
  background-size: 30px 40px;
  fill: rgba(103, 255, 56, .5);
  animation: none;
  opacity: 1;
  stroke: none;
}

.personalInfo {
  background-color: rgba(0,0,0,0);
  padding: 10px;
  border: none;
  cursor: pointer;
}


.personalModal {
  position: absolute;
  right: 0;
  background-color: rgba(0,0,0,0);
  color: rgba(103, 255, 56, .5);
  width: 1280px;
  height: 600px;
  margin-right: 5px;
  margin-top: 10px;
}

.accountNav button {
  background-color: rgba(0,0,0,0);
  border: none;
  margin-right: 15px;
  margin-left: 3px;
  color: rgba(103, 255, 56, .5);
  font-size: 14px;
  cursor: pointer;
}

p {
  padding-left: 10px;
  font-size: 14px;
}

.personalModalShow {

  position: absolute;
  top: 43px;
  right: 5px;
  background-color: rgba(103, 255, 56, 1);
  width: 240px;

}
.accountNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  right: 0px;
  background-color: rgba(0, 0, 0, .8);
  color: rgba(103, 255, 56, .5);
  width: 240px;
  height: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1;
}

.demouserBox {
  color: white;
  fill: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  /* height: 50px; */
  padding-top: 20px;
  display: inline;
}

.bi {
  padding-right: 5px;
  font-weight: bold;
  padding-bottom: 14px;
  display: inline;
}

span {
  margin: 0px;
  padding-bottom: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.demouserLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.textDecoration {
  text-decoration: none;
}

.highlight {
  font-size: 32px;
  background-size: 30px 40px;
  fill: rgba(0, 207, 53, 1);
}

.logoD {
  color: rgba(0, 207, 53, 1);
}


.scroll {
  display: flex;
  flex-direction: row;
  margin: 40px auto 0;
  align-items: unset;
  max-width: 990px;
}


.profPicDBScroll {
  align-self: flex-start;
}

.myProfPic, .allBlogs {
  border-radius: 3px;
}



.material-icons {
  color: rgba(0, 207, 53, 1);
  font-size: 50px;
}

.scrollNavBarIcons {
  fill: rgba(0, 207, 53, 1);
  width: 40px;
  height: 40px;
  /* background-color: aliceblue; */

}

div.blogScroll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* width: 100%; */
}

.dashboardIcons {
  /* fill: rgba(0, 207, 53, 1); */
  fill: rgb( 103, 255, 56 );
}

.dashbIconFont {
    /* color: rgba(0, 207, 53, 1); */
    color: rgb( 103, 255, 56 );
    font-weight: bold;
    text-align: center;
    padding-left: 0px;

}

.dashboardNavBar, .dashboardMain, .usernameBar {
  width: 100%;
}

.dashboardMain {
  height: 100%;
  max-width: 540px;
}

.dashboardNavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100px;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: rgb(34, 34, 34);
}

.dashNavButtons {
  padding: 10px 15px;
  height: 80%;
  background-color: rgba(0, 0, 0, 0);
}

.dashboardMain, .profPicDBScroll {
  margin: 0px 5px;
}

.blog {
  box-sizing: border-box;
  width: 100%;

  color: rgb( 103, 255, 56 );
  margin-bottom: 15px;
  background-color: rgb(34, 34, 34);
  border-radius: 3px;
}

.allBlogs {
  width: 100%;
}

.usernameBar {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.blogDotBlog {
  padding: 10px;
  margin-bottom: 10px;
}

.sideBlurb {
  width: 320px;
  height: 1039px;
  background-color: rgb(34, 34, 34);
  margin-left: 30px;
}

.homeButton {
  fill: rgba(0, 207, 53, 1);
  padding: 10px;
}

.rightSideNavBar {
  display: flex;
  flex-direction: row;
}

.createBlogs {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(34, 34, 34, .8);
}

.positionedModal {
  position: absolute;

}

.createBlogsForm {
  z-index: 1;
  width: 440px;
  min-height: 99px;
  background-color: aliceblue;
  /* position: absolute; */
  /* bottom: 5px; */
  /* top: 200px; */
  border-radius: 3px;
}

.createBlogsFormParent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profPic {
  position: absolute;
  left: -80px;

}
