body {
  background-image: url(./evilgothgirl.jpg);
  background-repeat: no-repeat;
  background-size: 100% 230%;
}

div.logo {
  font-size: 45px;
  font-family: Exo;
  margin-left: 20px;

}

h1 {
  font-family: Exo, Algerian, Verdana;
  font-size: 65px;
  margin-bottom: 0px;
  padding: 0px;
  display: inline-block;
  margin-top: 60px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center
}

input {
  width: 20%;
  height: 50px;
  min-width: 300px;
  margin: 0, auto;
  border: .5px solid lightgray;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 16px;
  color: rgb(68, 67, 67);
}

.loginSignup {
  height: 50px;
  width: 20%;
  min-width: 300px;
  margin-top: 10px;
  border-radius: 2px;
  border: none;
  background-color: #00b8ff;
  color: white;
  font-weight: bold;
  font-size: 16px
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.signup {
  text-decoration: none;
  margin: 15px 20px;
  font-size: 15px;
  background-color: ghostwhite;
  color: rgb(77, 76, 76);
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 2px;
}
