

.gothGirl {
  background-image: url(./evilgothgirl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300%;

}

.loginBox {
  position: relative;
}
