body {
  background-image: url(./gothchic.jpg);
  background-repeat: no-repeat;
  background-size: 100% 220%;
}

h1 {
  font-family: Exo, Algerian, Verdana;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center
}
